{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Doctor Login</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
</head>
<body>

<div class="float1">🩺</div>
<div class="float2">💊</div>
<div class="float3">❤️</div>
<div class="float4">🧬</div>

<div class="login-container">

    <div class="login-box">

        <h1>👨‍⚕️ Doctor Portal</h1>

        <p>Login to manage appointments and patients</p>

        <form>

            <input type="email" placeholder="Email Address">

            <input type="password" placeholder="Password">

            <button type="submit">
                Login
            </button>

        </form>

        <a href="/doctor-register/">
            Create Doctor Account
        </a>

    </div>

</div>

</body>
</html>